In [1]:
# 예외처리 구문 : try excpet

In [6]:
try:
    #일반적으로 코드를 써야할 실행문 부분
    a, b = 4, 0
    print(a/b)
except:
    #오류가 발생했을 때 실행되는 부분
    print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.

In [9]:
f = open('abcd.txt','w')
try:
    print(f)
finally:
    f.close()

<_io.TextIOWrapper name='abcd.txt' mode='w' encoding='cp949'>

In [11]:
try:
    a = [1,2,3]
    print(a[3])
    4/0
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except IndexError:
    print("인덱스 에러입니다.")

인덱스 에러입니다.

In [13]:
try:
    a = [1,2,3]
    print(a[2])
    4/0
except (ZeroDivisionError, IndexError) as e:
    print(e)

3
division by zero

In [14]:
try:
    age = int(input("나이 입력 : "))
except:
    print("정수를 입력해주세요")

if age > 18:
    print("성인입니다.")
else:
    print("미성년자입니다.")

나이 입력 : s
정수를 입력해주세요

NameError: name 'age' is not defined

In [15]:
try:
    c = 4/0
except:
    pass

print(c)

NameError: name 'c' is not defined

In [17]:
class bird:
    def fly(self):
        raise NotImplementedError

In [22]:
class sparrow(bird):
    def fly(self):
        print("날고있습니다.")

In [23]:
sparrow = sparrow()
sparrow.fly()

날고있습니다.

In [26]:
class TaejuError(Exception):
    def __str__(self):
        return "태주의 이름이 아닙니다."

In [27]:
def call_myname(taeju):
    if taeju != '박태주':
        raise TaejuError
    print(taeju)

In [28]:
try:
    call_myname('박태주')
    call_myname('진영준')
except TaejuError as e:
    print(e)

박태주
태주의 이름이 아닙니다.