In [1]:
print('Hellow World!!')

Hellow World!!

In [2]:
1

1

In [3]:
1 print('Hellow World!!')

SyntaxError: invalid syntax (<ipython-input-3-adc4c2ff3e04>, line 1)

In [4]:
print(1 + 2)
print (4 + 5)

3
9

In [5]:
1+2
4+5

9

In [6]:
print('Hello 이상효!!')
print('잘부탁드립니다!!')

Hello 이상효!!
잘부탁드립니다!!

In [7]:
print('Hello 이상효!! |n 잘부탁드립니다')

Hello 이상효!! |n 잘부탁드립니다

In [8]:
int a = 10

SyntaxError: invalid syntax (<ipython-input-8-392d75864529>, line 1)

In [9]:
a = 10

In [10]:
a + 1

11

In [11]:
a

10

In [12]:
b = 3.14

In [13]:
b

3.14

In [14]:
s = "Hello, Python"

In [15]:
s

'Hello, Python'

In [16]:
s1 = "python"
s2 = "Python"

In [17]:
s1 = s2 = "python"

In [18]:
x = 100
y = 200
sum = x + y

In [19]:
sum

300

In [20]:
s = 'Life is too short, You need Python'
print(s[0])
print(s[12])

L
s

In [21]:
s = "Life is too short, You need Python"
print(s[12:17])

short

In [22]:
print(s[17:])
print(s[:17])

, You need Python
Life is too short

In [25]:
s = '20010331Rainy'
year = s[:4]
day = s[4:8]
weather = s[8:]
print(s[:4])
print(s[4:8])
print(s[8:])

2001
0331
Rainy

In [28]:
s = "현재 온도는 %d입니다"%(32)
print(s)

현재 온도는 32입니다

In [29]:
temp = 34.1
s = "현재 온도는 %f도 입니다." %temp
print(s)

현재 온도는 34.100000도 입니다.

In [30]:
s = "전남대학교 %d학년 %d학기는 종강입니다."%(3,1)
print(s)

전남대학교 3학년 1학기는 종강입니다.

In [31]:
x, y = 100, 200
sum = x + y
print(sum)

300

In [32]:
num1 = 10
num2 = 7
print(num1 / num2)
print(num1 % num2)
print(num1 // num2)

1.4285714285714286
3
1

In [33]:
num1 = 10.0
num2 = 7
print(num1 / num2)
print(num1 % num2)
print(num1 // num2)

1.4285714285714286
3.0
1.0

In [35]:
num1 = 7
num2 = 3
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)

10
4
1
2.3333333333333335

In [1]:
num = 456
num = num // 100 * 100
print(num)

400

In [2]:
temp = input()

1234

In [3]:
print(temp);
print(type(temp))

1234
<class 'str'>

In [8]:
x = int(input("첫번째 정수 입력 : "))
y = int(input("두번째 정수 입력 : "))
temp = x + y
print("%d와 %d의 합은 %d 입니다." %(x, y, temp))

첫번째 정수 입력 : 20
두번째 정수 입력 : 40
20와 40의 합은 60 입니다.

In [11]:
x = int(input("첫번째 정수 입력 : "))
y = int(input("두번째 정수 입력 : "))
print("나눗셈 몫 : %d" %(x // y))
print("나눗셈 나머지 : %f" %(x % y))

첫번째 정수 입력 : 7
두번째 정수 입력 : 3
나눗셈 몫 : 2
나눗셈 나머지 : 1.000000

In [13]:
java = int(input("Java 점수 입력 : "))
web = int(input("Web 점수 입력 : "))
eng = int(input("Eng 점수 입력 : "))
sum = java + web + eng
avg = sum / 3
print("총합은 %d입니다." %sum)
print("평균은 %f입니다." %avg)

Java 점수 입력 : 80
Web 점수 입력 : 80
Eng 점수 입력 : 80
총합은 240입니다.
평균은 80.000000입니다.

In [17]:
temp = int(input("초 입력 : " ))
second = temp % 60
minute = (temp / 60) % 60
hour = (temp / 3600) % 60
print("%d시 %d분 %d초" %(hour, minute, second))

초 입력 : 3723
1시 2분 3초

In [19]:
score = int(input("점수 입력 : "))
print("합격" if score >= 80 else "불합격")

점수 입력 : 80
합격

In [20]:
temp = int(input("정수 입력"))
print("짝수" if temp % 2 == 0 else "홀수")

정수 입력3
홀수

In [22]:
num1 = int(input("첫번째 정수 입력 : "))
num2 = int(input("두번째 정수 입력 : "))

temp = num1 - num2 if num1 >= num2 else num2 - num1
print("두 수의 차 : %d" %temp)

첫번째 정수 입력 : 87
두번째 정수 입력 : 23
두 수의 차 : 64

In [24]:
time = int(input("일한 시간 : "))
overtime = time - 8
overwork = overtime * 5000 * 1.5
work = 8 * 5000

print(work + overwork if time > 8 else time * 5000)

일한 시간 : 11
62500.0

In [1]:
age = int(input("나이 : "))
if age >= 20:
    print("성인입니다.")

나이 : 20
성인입니다.

In [3]:
num = int(input())
if num % 3 == 0 and num % 5 == 0:
    print("3과 5의 배수입니다.")

15
3과 5의 배수입니다.

In [5]:
grade = int(input())
if grade >= 60:
    print("합격입니다.")
else:
    print("불합격입니다.")

40
불합격입니다.

In [7]:
num1 = int(input("정수 입력 : "))
if num1 % 2 == 0:
    print("%d는 짝수입니다." %num1)
else:
    print("%d는 홀수입니다." %num1)

정수 입력 : 3
3는 홀수입니다.

In [9]:
gift = int(input("상품 개수 : "))
prize = gift * 10000
if gift >= 11:
    print("가격은 %d원 입니다." %(prize * 0.9))
else:
    print("가격은 %d원 입니다." %prize)

상품 개수 : 12
가격은 108000원 입니다.

In [12]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())
num5 = int(input())
sum_num = num1 + num2 + num3 + num4 + num5

if num1 >= 8 and num2 >= 8 and num3 >= 8 and num4 >= 8 and num5 >= 8 and sum_num >= 60:
    print("합격입니다.")
else :
    print("불합격입니다.")

8
8
8
8
8
불합격입니다.

In [13]:
num1 = int(input())
num2 = int(input())

if num1 > num2:
    print("크다")
elif num1 == num2:
    print("같다")
else :
    print("작다")

1
2
작다

In [16]:
score = int(input("시험점수 입력 : "))

if score >= 100 and score < 90:
    print("%d점 A입니다." %score)
elif score >= 80:
    print("%d점 B입니다." %score)
elif score >= 70:
    print("%d점 C입니다." %score)
elif score >= 60:
    print("%d점 D입니다." %score)
else :
    print("%d점 E입니다." %score)

시험점수 입력 : 80
80점 B입니다.

In [17]:
num1 = int(input())

if num1 > 0:
    print("양수입니다.")
elif num1 == 0:
    print("0입니다.")
else :
    print("음수입니다.")

1
양수입니다.

In [18]:
money = int(input("금액을 입력하세요."))
menu = int(input(" 메뉴를 고르세요. [1]콜라(800원) [2]생수(500원) [3]비타민워터(1500원)"))

if menu == 1 :
    if money >= 800:
        print("잔돈 : %d" %(money - 800))
        print("천원 : %d개" %((money - 800) // 1000))
    else :
        print("돈이 부족합니다.")
elif menu == 2 :
    if money >= 500 :
        print("잔돈 : %d" %(money - 500))
        print("천원 : %d개" %((money - 500) // 1000))
    else:
        print("돈이 부족합니다.")
elif menu == 3 :
    if money >= 1500 :
        print("잔돈 : %d" %(money - 1500))
        print("천원 : %d개" %((money - 1500) // 1000))
    else :
        print("돈이 부족합니다.")
else:
    print("입력이 잘못되었습니다.")

SyntaxError: unexpected EOF while parsing (<ipython-input-18-1d2c0b92a317>, line 10)

In [2]:
a = [1, 2, 3,[ 'a', 'b', 'c']]

In [3]:
arrayTemp = a[3]
print(arrayTemp[1])

b

In [9]:
array = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
arrayTemp = array[2:5]
print(arrayTemp)
print(arrayTemp[1][0:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [13]:
array = [1,2,3,4,5]
array[4] = 7
print(array)
array[1] = ['a', 'b', 'c']
print(array)
array[3:5] = 'd', 'e', 'f', 'g'
print(array)

[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [16]:
array = [1,2,3,4,5]
array.append('d')
print(array)
array.insert(2,'taeju')
print(array)
array.remove(1)
print(array)

[1, 2, 3, 4, 5, 'd']
[1, 2, 'taeju', 3, 4, 5, 'd']
[2, 'taeju', 3, 4, 5, 'd']

In [17]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
array = [1,2,3,4,5,6,7,8,9,10]
num1 = int(input("정수 입력"))
for i in array:
    if i % num1 == 0:
        print(i)

정수 입력2
2
4
6
8
10

In [25]:
score = [50, 60, 70, 80, 30]
for i in score:
    if i >= 60:
        print("합격입니다.")
    else :
        print("불합격입니다.")

불합격입니다.
합격입니다.
합격입니다.
합격입니다.
불합격입니다.

In [35]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
temp = 0
count = 0
for i in score:
    temp += i
    count += 1
print(temp / count)

79.0

In [45]:
num = int(input())
for i in range(1,10):
    print("%d x %d = %d" %(num, i, i * num))

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [46]:
num = int(input())
for i in range(1,num + 1):
    print("%d x %d = %d" %(num, i, i * num))

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [48]:
num = int(input())
for i in range(2, num + 1):
    for k in range(1, 10):
        print("%d x %d = %d" %(i, k, i * k))
    print("===============")

3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
===============
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
===============

In [1]:
for i, j in enumerate(range(1, 10)):
    print(i, j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [2]:
count = 0
while count < 100:
    count += 1
print(count)

100

In [6]:
while True:
    count = int(input())
    if(count % 2 == 0):
        break

1
3
3
1
2